.container {
  padding: 10px;
  margin: 0px;
}

.ul {
  margin: 0px;
  padding: 5px;
}

.inline {
  display: inline;
  color: white;
  background-color: rgb(35, 151, 197);
  padding: 20px;
  margin: 5px 10px 0px 0px;
  width: 10px;
}
